.fourth_virus_half, .fifth_virus, .sixth_virus_half {
    display: none;
}

@media only screen and (min-width:1200px) {


    /* .prevention{
        position: relative;
    }
    .prevention__description__content {
        width: 40.625rem;
    }

    .fourth_virus_half {
        display: inline;
        position: absolute;
        top: 583px;
        left: 0px;
    
    }
    
    
    .fifth_virus {
        display: inline;
        position: absolute;
        top: 1928px;
        right: 32px;
    
    }
    
    .sixth_virus_half {
        display: inline;
        position: absolute;
        top: 2075px;
        right: 0px;
    } */
}