.contact__title {
    font-family: "Gelion";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    color: #0C6C44;
    margin: 3rem 0;
}

.contact__form {
    display: inline-block;
    position: relative;
}

.contact__form__email {
    box-shadow: 0px 8px 80px rgb(0 0 0 / 6%);
    border-radius: 57px;
    width: 19.375rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.contact__form__button {
    border-radius: 9.8125rem;
    background-color: #F44A45;
    color: white;
    border: none;
    padding: 0.3rem 1rem;
    position: absolute;
    top: 20%;
    right: 5%;
}

@media only screen and (min-width:1200px) {
    .contact__title {
        width: 41.3125rem;
        margin: 3rem auto;
    }

    .contact__form__email{
        width: 49.375rem;
        height: 7.125rem;
        font-size: 22px;
    }

    .contact__form__button{
        font-size: 22px;
        padding: 26px 81px;
    }

    .contact__form__email {
        padding-left: 3rem;
    }
}