.footer_nav_menu {
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;
}

.footer_nav_menu__link {
    text-decoration: none;
    color: #035755;
}

.social_icons {
    border: none;
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;

}

.social_icons button {
    background: transparent;
    margin-bottom: 4.1875rem;
    border: none;
    margin: auto 0;
}

.social_icons button {
    background: transparent;
}

.logo-flex {
    text-align: center;
    margin-top: 1rem;
}

footer {
    text-align: center;
}

.logo__text{
    color: #035755;

}

@media only screen and (min-width:1200px) {
    .footer-container {
        display: flex;
    }

    .logo-flex{
        display: flex;
        align-items: center;
        margin-left: 15vw;
    }

    .logo__text{
        margin-left: .5rem;
    }

    .logo_with_nav{
        display: flex;
        align-items: center;
    }

    .footer_nav_menu__link{
        margin: 1rem 1rem;
    }

    .footer_nav_menu{
        margin-left: 10vw;
    }

    .social_icons button{
        margin: 1rem;
    }
}